.details-form{
    text-align: center;
    margin-top: 20px;
}
.container-portal{
    position: fixed;
  top:0;
  left: 0;
  background-color: rgba(0,0,0,0.4);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.confirm-details{
    background-color: #fff;
    max-width: 500px;
    width: 100%;
    border-radius: 0.4rem;
    box-shadow: 0 1px 10px #999;
    min-height: 300px;
    display: flex;
    flex-direction: column;
}
.confirm-details p{
    margin-left: 10%;
}
.confirm-details>button{
    margin-left: 40%;
    margin-bottom: 10px;
    cursor: pointer;
}
.close-btn{
    font-weight: bold;
    background-color: red;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    text-align: center;
    padding-bottom: 3px;
    transform: translateY(-680%) translateX(-50%);
    cursor: pointer;
}
